<!-- Sidebar -->

<nav aria-label="Main Navigation">
    <ul>
        <li><a href="#abstract">Abstract</a></li>
        <li><a href="#unique-benefits">Unique Benefits</a></li>
        <li><a href="#definitions">Definitions</a></li>
        <li><a href="#introduction">Introduction</a></li>
        <li><a href="#jobSpec">1. Job Specifications</a></li>
        <li><a href="#applicationProcess">2. Application Process</a></li>
        <li><a href="#interviewProcess">3. Interview Process</a></li>
        <li><a href="#assessment">4. Assessment</a></li>
        <li><a href="#postInterview">5. Post Interview</a></li>
        <li><a href="#continuousImprovement">6. Continuous Improvement</a></li>
        <li><a href="#resourcesTraining">7. Resources & Training</a></li>
        <li><a href="#legalConsiderations">8. Legal Considerations</a></li>
        <li><a href="#glossary">Glossary</a></li>
        <li><a href="#appendix">Appendix</a></li>
    </ul>
</nav>

