
<header id="header">
    <h1>Cognitive Accessibility Web Standard (CAWS) - Draft 0.1</h1>
    <h2>A preliminary draft of guidelines aimed at designing User Interfaces that are accessible
        and inclusive for individuals with cognitive and psychological conditions</h2>

    <h3>Versions</h3>
    <ul>
        <li>This version: 0.1</li>
        <li>Latest published version: 0.1</li>
<!--        <li>Latest editor's draft: </li>-->
<!--        <li>Previous version: </li>-->
    </ul>

    <h3>source</h3>
    <ul>
        <li>Repo: <a href="https://github.com/garethslinn/ca11y-project">ca11y-project</a></li>
        <li>Raise <a href="https://github.com/garethslinn/ca11y-project/issues">Issues</a></li>
    </ul>

    <h2>Editor(s)</h2>
    <ul>
        <li>Gareth Slinn</li>
    </ul>
</header>