header {
    background-color: var(--header-bg);
    color: var(--header-text-color);
    transition: background-color var(--transition-speed), color var(--transition-speed);
}

footer {
    display: none;
}
/*footer {*/
/*    background-color: var(--footer-bg);*/
/*    color: var(--footer-text-color);*/
/*    transition: background-color var(--transition-speed), color var(--transition-speed);*/
/*}*/

